<div class="edit_user_profile">
<form action="/user/<%= @user.id%>" method="POST">
  <input type="hidden" name="_method" value="PUT"><br /><br />

  <label>NAME <font color="#FF5DBF">♥</font></label> <input type="text" name="user[name]" value="<%=@user.name %>">
  <br /><br /><br />

  <div class="txt-fld">
  <label>AGE <font color="#FF5DBF">♥</font></label> <input type="text" name="user[age]" value="<%=@user.age %>">
  <br /><br /><br />

  <div class="txt-fld">
  <label>GENDER <font color="#FF5DBF">♥</font></label>
    <select id="gender_dropdown" name="user[gender]">
      <option value=""></option>
      <option value="Cis Female">Cis Female</option>
      <option value="Trans Female">Trans Female</option>
      <option value="Cis Male">Cis Male</option>
      <option value="Trans Male">Trans Male</option>
      <option value="None of these">None of these</option>
      <option value="Prefer not to say">Prefer not to say</option>
    </select>
    <br /><br />

<label>ORIENTATION <font color="#FF5DBF">♥</font></label>
  <select id="orientation_dropdown" name="user[orientation]">
      <option value=""></option>
        <% @orientations = ["Lesbian","Gay","Bisexual","Pansexual", "Straight", "Asexual", "Prefer not to Say"] %>
        <% @orientations.each do |orientation| %>
          <option value="<%= orientation %>"><%= orientation %></option>
        <% end %>
      </select>
      <br /><br />

  <label>LOCATION <font color="#FF5DBF">♥</font></label><input type="text" name="user[location]" value="<%=@user.location %>">
  <br /><br /><br />
  <label>EMAIL <font color="#FF5DBF">♥</font></label><input type="text" name="user[email]" value="<%=@user.email %>">
  <br /><br /><br />
  <label>PIC URL <font color="#FF5DBF">♥</font></label><input type="text" name="user[pic_url]" value="<%=@user.pic_url %>">
  <br /><br /><br />
  <input type="submit">
</form>
</div>

