<div class="edit_user_profile">
<form action="/user/<%= @user.id%>" method="POST">
  <input type="hidden" name="_method" value="PUT"><br>
  NAME:<input type="text" name="user[name]" value="<%=@user.name %>"><br>
  AGE: <input type="text" name="user[age]" value="<%=@user.age %>"><br>

  GENDER:
    <select id="gender_dropdown" name="user[gender]">
      <option value=""></option>
      <option value="Cis Female">Cis Female</option>
      <option value="Trans Female">Trans Female</option>
      <option value="Cis Male">Cis Male</option>
      <option value="Trans Male">Trans Male</option>
      <option value="None of these">None of these</option>
      <option value="Prefer not to say">Prefer not to say</option>
    </select>
  <br>

ORIENTATION
  <select id="orientation_dropdown" name="user[orientation]">
      <option value=""></option>
        <% @orientations = ["Lesbian","Gay","Bisexual","Pansexual", "Straight", "Asexual", "Prefer not to Say"] %>
        <% @orientations.each do |orientation| %>
          <option value="<%= orientation %>"><%= orientation %></option>
        <% end %>
      </select>
    <br>



  LOCATION:<input type="text" name="user[location]" value="<%=@user.location %>"><br>
  EMAIL:<input type="text" name="user[email]" value="<%=@user.email %>">
  <input type="submit">
</form>
</div>

