<div class="container">
  <div class="welcome">
    Hello, <%= @user.name %>
  </div>
  <div class="profile_pic">
    <img src="<%= @user.pic_url %>"/>
  </div>
  <div class="tagline">
    TAG LINE: <%= @user.tagline %>
  </div>
  <br>
  <div class="about">
    ABOUT ME: <%= @user.about %>
  </div>
  <br>

   <div class="gender">
    GENDER: <%= @user.gender %>
  </div>
  <br>
   <div class="orientation">
    ORIENTATION: <%= @user.orientation %>
  </div>
  <br>

  <form action="/user/<%=@user.id%>/edit" method="GET">
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="EDIT">
  </form>

  <form action="/user/<%= @user.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE">
  </form>


</div>