<div class="profile">
  <div class="profile_left">
  <div class="profile_pic">
    <img src="<%= @user.pic_url %>"/>
  </div>
  <div class="tagline">
    <br /><br />
    TAG LINE: <%= @user.tagline %>
  </div>
  <br>
  <div class="about">
    ABOUT ME: <%= @user.about %>
  </div>
  <br>

   <div class="gender">
    GENDER: <%= @user.gender %>
  </div>
  <br>
   <div class="orientation">
    ORIENTATION: <%= @user.orientation %>
  </div>
</div>
<div class="matches">
  <span class="matches_header"><font color="#FF5DBF">♥</font> MATCHES <font color="#FF5DBF">♥</font></span>
  </div>

</div>