<div class="container">
  <div class="welcome">
    Hello, <%= @user.name %>
  </div>
  <div class="profile_pic">
    <img src="<%= @user.pic_url %>"/>
  </div>
  <div class="about">
    <%= @user.about %>
  </div>
  <br>
  <div class="tagline">
    <%= @user.tagline %>
  </div>
  <br>
  <div class= "demographics">
  </div>
  <form action="/user/<%=@user.id%>/edit" method="GET">
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="EDIT">
  </form>

  <form action="/user/<%= @user.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE">
  </form>


</div>